In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import openpyxl as pyxl
import pandas as pd
import numpy as np

from excel_helpers import *
from db_entries import *

import re
from itertools import chain
# we only need the function datetime.datetime.now; we can now reference it as dt.now
from datetime import datetime as dt

import sqlite3 as sql

import logging
logger = logging.getLogger()

In [3]:
%%capture

db_filename = 'my-budget-dev-v1.sqlite'

%run nuclear_option.py $db_filename
%run database_setup.py $db_filename

db = sql.connect(db_filename)

In [4]:
excel_filename = 'GemeinsameBilanzierung_16_17__dev.xlsx'

current_sheet = 'August'
comment_sheet = 'august_'

# We take here the option data_only since for now we are not interested in the expression
wb = pyxl.load_workbook(excel_filename, data_only=True)


august = wb.get_sheet_by_name(current_sheet)
august_ = wb.copy_worksheet(august)
august_.title = comment_sheet
august_.sheet_state = 'hidden'

In [5]:
def autogenerate_database_comment_multiple_excel_ranges(filename, ranges,
                                                        comment_sheet) :
    try :
        ranges_string = ', '.join(ranges[:-1]) + \
                        (' and ' if len(ranges) > 1 else '') + ranges[-1]
    except IndexError :
        raise ValueError('You should provide at least one Excel range')
    return 'This entry was automatically generated from the excel file ' + \
           '{}. It is based on the cells {}. A note has been '.format(
               filename, ranges_string) + \
           'added to the respective cells in the sheet {}.'.format(comment_sheet.title)

def autogenerate_database_comment(filename, range_, comment_sheet) :
    return autogenerate_database_comment_multiple_excel_ranges(
                filename, [range_], comment_sheet)

def autogenerate_excel_comment(date, db_filename, the_id) :
    return 'On {} this cell was automatically read and '.format(date) + \
           'inserted into the database {}. The id ofthe entry is {}.'.format(
               date, db_filename, the_id)

In [6]:
def automatically_enter_payment_row(date, payment_type, description, amount, money_pot, budget_type,
                                    ranges, excel_filename, current_sheet, comment_sheet, db_filename) :

    list_of_ranges = [current_sheet.title + '!' + a_range for a_range in ranges]
    
    database_comment = autogenerate_database_comment_multiple_excel_ranges(
        excel_filename, list_of_ranges, comment_sheet.title)
    
    the_id = put_payment_into_database_autogenerated(db, date, payment_type, description, amount, 
                                                     money_pot, budget_type, database_comment)
   
    excel_comment = autogenerate_excel_comment(
        dt.now().strftime('%Y-%m-%d'), db_filename, the_id)
    
    #Get a list of all referenced cells in the ranges
    cells = list(chain.from_iterable([list_from_range_string(a_range) for a_range in ranges]))
        
    put_comment_into_excel(comment_sheet, cells, excel_comment)
    
    return the_id

def automatically_enter_transfer_row(date, transfer_type, description, amount, money_pot_source, 
                                     money_pot_sink, ranges, excel_filename, current_sheet, 
                                     comment_sheet, db_filename, effect_date = None) :

    list_of_ranges = [current_sheet.title + '!' + a_range for a_range in ranges]
    
    database_comment = autogenerate_database_comment_multiple_excel_ranges(
        excel_filename, list_of_ranges, comment_sheet)
    
    the_id = put_transfer_into_database_autogenerated(db, date, transfer_type, description, amount, 
                                                      money_pot_source, money_pot_sink, comment=database_comment)
   
    excel_comment = autogenerate_excel_comment(
        dt.now().strftime('%Y-%m-%d'), db_filename, the_id)
    
    #Get a list of all referenced cells in the ranges
    cells = list(chain.from_iterable([list_from_range_string(a_range) for a_range in ranges]))
        
    put_comment_into_excel(comment_sheet, cells, excel_comment)
    
    return the_id

In [25]:
def subset_data_frame(data_frame, rules) :
    """Subset a pandas.DataFrame by a dictionary of rules. The rules should have the following form:
    {<column name> : <restriction>} where <restriction> is either a number, a string starting with 
    '<' or '>' and followed by number or a general string. If it is a simple string or number, the 
    subsetting expression
        data_frame[dataframe[<column name>] == <restriction>]
    will be used. The other case will be interpreted as
        data_frame[dataframe[<column name>] <|> <number>].
    """
    
    result = data_frame
    for rule in rules.items() :
        column = rule[0]
        restriction = rule[1]
        
        if type(restriction) is str and restriction[0] in ['<', '>'] :
                try :
                    number = float(restriction[1:])
                except :
                    raise ValueError('After a rule starting with < or > you need to specify a number')
                result = result.loc[result[column] < number] if restriction[0] == '<' \
                            else result.loc[result[column] > number]
                continue

        result = result.loc[result[column] == restriction]
        if len(result) == 0 :
            logger.warning('After the rule ' + str(rule) + ' no item was left')
            return result
    
    logger.warning(str(len(result)) + ' items were selected.')
    return result

def multirule_subset(data_frame, rules) :
    """Collect multiple subsets (union of multiple subsets) of a pandas.DataFrame into a single DataFrame
    by using subset_data_frame.
    
    Keyword Arguments:
        data_frame -- the DataFrame to be subsetted
        rules      -- a list of dictionaries, where the dicts fulfill the requirements specified for 
                      subset_data_frame
    """
    new_data = pd.DataFrame(columns=data_frame.columns)
    for rule in rules :
        new_data = new_data.append(subset_data_frame(data_frame, rule))
        
    return new_data

In [8]:
budgeting = get_df_by_range(august_, 'A6', 'D130', 2)
budgeting.columns = ['budget_type', 'description', 'date', 'amount', 'excel_range']

col_titles = ['description', 'date', 'amount', 'excel_range']

max_bargeld = get_df_by_range(august_, 'H7', 'J130', 1)
max_bargeld.columns = col_titles
max_bargeld['money_pot'] = 'BM'

paul_bargeld = get_df_by_range(august_, 'K7', 'M130', 1)
paul_bargeld.columns = col_titles
paul_bargeld['money_pot'] = 'BP'

konto = get_df_by_range(august_, 'N7', 'P130', 1)
konto.columns = col_titles
konto['money_pot'] = 'KG'

conjoined = pd.concat([max_bargeld, paul_bargeld, konto])

In [9]:
all_info = pd.merge(budgeting, conjoined, how='outer', 
                    on=['description', 'date', 'amount'], indicator=True)

all_info['treated'] = 'No'

all_info['date'] = all_info['date'].dt.date
all_info['amount'] = all_info['amount'].round(2)

In [28]:
with pd.option_context('display.max_rows', None):
    display(all_info)

,budget_type,description,date,amount,excel_range_x,excel_range_y,money_pot,_merge,treated
0,R,Miete,2017-08-01,-568.00,A6:D6,N13:P13,KG,both,Yes
1,R,Miete FFM,2017-08-02,-450.00,A7:D7,N20:P20,KG,both,Yes
2,R,Berufsunfähigkeitsversicherung,2017-08-01,-49.05,A8:D8,N12:P12,KG,both,Yes
3,R,Strom EnviaM,2017-08-30,-51.00,A9:D9,N89:P89,KG,both,Yes
4,R,Vodafone,2017-08-28,-19.99,A10:D10,NaN,NaN,left_only,No
5,M,Telefonie,2017-08-28,-6.20,A11:D11,NaN,NaN,left_only,No
6,R,Rechtsschutzversicherung,2017-01-30,-13.90,A12:D12,NaN,NaN,left_only,No
7,R,Haftpflichtversicherung,2017-08-01,-7.50,A13:D13,N11:P11,KG,both,Yes
8,G,GEW,2017-07-05,-2.50,A14:D14,NaN,NaN,left_only,No
9,R,Semestergebühr Paul,2016-06-21,-46.15,A15:D15,NaN,NaN,left_only,No
10,R,Semestergebühr Max,2016-06-21,-50.56,A16:D16,NaN,NaN,left_only,No
11,R,GEZ,2017-06-29,-17.50,A17:D17,NaN,NaN,left_only,No
12,R,Handy Max,2017-08-10,-7.99,A18:D18,N41:P41,KG,both,No
13,R,Handy Paul,2017-08-10,-7.99,A19:D19,NaN,NaN,left_only,No
14,G,Spotify Max,2017-08-15,-4.99,A20:D20,N52:P52,KG,both,Yes
15,G,Apple Music Paul,2017-08-25,-4.99,A21:D21,N76:P76,KG,both,Yes
16,G,Backblaze Max,2017-04-18,-3.77,A22:D22,NaN,NaN,left_only,No
17,R,Sommertickets,2017-07-20,-48.00,A23:D23,NaN,NaN,left_only,No
18,R,Sommertickets,2017-08-05,-144.00,A24:D24,NaN,NaN,left_only,No
19,R,Monatskarte FFM,2017-07-31,-87.40,A25:D25,N9:P9,KG,both,Yes
20,G,Backblaze Paul,2017-04-18,-3.77,A26:D26,NaN,NaN,left_only,No
21,G,Fitnessstudio,2017-08-03,-39.80,A27:D27,N23:P23,KG,both,Yes
22,L,Aldi,2017-07-31,-23.97,A28:D28,N8:P8,KG,both,Yes
23,L,Netto,2017-07-31,-9.44,A29:D29,N10:P10,KG,both,Yes
24,L,Rewe,2017-08-01,-8.71,A30:D30,N14:P14,KG,both,Yes
25,D,Rossmann,2017-08-01,-9.17,A31:D31,N15:P15,KG,both,Yes
26,D,DM,2017-08-01,-9.45,A32:D32,N16:P16,KG,both,Yes
27,D,DM,2017-08-01,-12.25,A33:D33,N17:P17,KG,both,Yes
28,AM,Mittagessen Casino,2017-08-01,-2.80,A34:D34,NaN,NaN,left_only,No
29,L,Türkischer Supermarkt,2017-08-01,-10.37,A35:D35,N18:P18,KG,both,Yes
30,L,Brot,2017-08-01,-0.95,A36:D36,K8:M8,BP,both,Yes
31,L,Brot,2017-08-01,-0.95,A37:D37,K8:M8,BP,both,Yes
32,AM,Doppelter Kaffee Trianon,2017-08-02,-1.50,A38:D38,NaN,NaN,left_only,No
33,AM,Kaffee,2017-08-02,-0.70,A39:D39,NaN,NaN,left_only,No
34,AM,Mr Tom,2017-08-02,-0.40,A40:D40,NaN,NaN,left_only,No
35,L,Real,2017-08-02,-6.86,A41:D41,N22:P22,KG,both,Yes
36,AM,Espresso,2017-08-03,-0.80,A42:D42,NaN,NaN,left_only,No
37,AM,Kaffee,2017-08-03,-0.70,A43:D43,NaN,NaN,left_only,No
38,AM,Kaffee,2017-08-03,-0.70,A44:D44,NaN,NaN,left_only,No
39,AM,Mittagessen Casino,2017-08-03,-3.73,A45:D45,NaN,NaN,left_only,No
40,AM,Kaffee,2017-08-04,-0.70,A46:D46,NaN,NaN,left_only,No
41,AM,Kaffee,2017-08-04,-0.75,A47:D47,NaN,NaN,left_only,No
42,L,Kaufland,2017-08-04,-13.95,A48:D48,N25:P25,KG,both,Yes
43,A,McDonalds,2017-08-05,-2.59,A49:D49,N26:P26,KG,both,Yes
44,S,H&M,2017-08-05,-55.08,A50:D50,N27:P27,KG,both,Yes
45,L,Rewe Wasser,2017-08-05,-1.17,A51:D51,N28:P28,KG,both,Yes
46,L,Edeka,2017-08-05,-5.43,A52:D52,N31:P31,KG,both,Yes
47,T,Sitzplatz reservierung,2017-08-06,-4.50,A53:D53,N33:P33,KG,both,Yes
48,S,Amazon Bestellung,2017-08-06,-39.24,A54:D54,N32:P32,KG,both,Yes
49,S,Amazon Festplatte Paul,2017-08-06,-52.94,A55:D55,N34:P34,KG,both,Yes
50,L,Rewe,2017-08-07,-21.00,A56:D56,N36:P36,KG,both,Yes
51,S,H&M Hose,2017-08-07,-30.14,A57:D57,N37:P37,KG,both,Yes
52,M,Briefmarken,2017-08-07,-21.50,A58:D58,N38:P38,KG,both,Yes
53,L,Netto,2017-08-07,-16.60,A59:D59,N39:P39,KG,both,Yes
54,L,Real,2017-08-07,-3.99,A60:D60,N40:P40,KG,both,Yes
55,AM,Kaffee,2017-08-07,-0.70,A61:D61,NaN,NaN,left_only,No
56,AM,Kaffee,2017-08-07,-0.70,A63:D63,NaN,NaN,left_only,No
57,AM,Mr Tom,2017-08-07,-0.40,A62:D62,NaN,NaN,left_only,No
58,L,Brot,2017-08-08,-1.40,A64:D64,K9:M9,BP,both,Yes
59,AM,Mittagssalat,2017-08-10,-2.26,A65:D65,NaN,NaN,left_only,No
60,S,Rossmann Zahnbürste,2017-08-10,-15.99,A66:D66,NaN,NaN,left_only,No
61,D,Rossmann,2017-08-10,-4.54,A67:D67,NaN,NaN,left_only,No
62,L,Edeka,2017-08-10,-3.17,A68:D68,N44:P44,KG,both,Yes
63,AM,Miitag Zwiebelsuppe,2017-08-11,-0.60,A69:D69,NaN,NaN,left_only,No
64,AM,Espresso,2017-08-11,-0.80,A70:D70,NaN,NaN,left_only,No
65,AM,Mr Tom,2017-08-11,-0.40,A71:D71,NaN,NaN,left_only,No
66,L,Aldi,2017-08-11,-19.31,A72:D72,N45:P45,KG,both,Yes
67,D,Schirm Rossmann,2017-08-11,-2.95,A73:D73,N46:P46,KG,both,Yes
68,A,Eisessen,2017-08-13,-4.80,A74:D74,H13:J13,BM,both,Yes
69,L,Wasser,2017-08-13,-1.30,A75:D75,H14:J14,BM,both,Yes
70,L,Rewe,2017-08-13,-34.42,A76:D76,N47:P47,KG,both,Yes
71,AM,Balisto,2017-08-14,-0.50,A77:D77,NaN,NaN,left_only,No
72,L,Netto,2017-08-14,-13.42,A78:D78,N50:P50,KG,both,Yes
73,T,Fahrkarte Frankfurt,2017-08-14,-2.90,A79:D79,N51:P51,KG,both,Yes
74,AM,Mittagessen Casino,2017-08-15,-4.30,A80:D80,NaN,NaN,left_only,No
75,AM,KitKat,2017-08-15,-1.00,A81:D81,NaN,NaN,left_only,No
76,L,Rewe,2017-08-16,-17.57,A82:D82,N53:P53,KG,both,Yes
77,AM,Kakao,2017-08-16,-0.40,A83:D83,NaN,NaN,left_only,No
78,L,Rewe,2017-08-16,-3.42,A84:D84,N54:P54,KG,both,Yes
79,A,Eisessen,2017-08-17,-1.20,A85:D85,H16:J16,BM,both,Yes
80,L,Real,2017-08-18,-10.19,A86:D86,N55:P55,KG,both,Yes
81,L,Rewe,2017-08-18,-2.69,A87:D87,N56:P56,KG,both,Yes
82,AM,Suppe,2017-08-18,-0.60,A88:D88,NaN,NaN,left_only,No
83,T,Sitzplatz reservierung,2017-08-18,-4.50,A89:D89,N57:P57,KG,both,Yes
84,M,Toilette,2017-08-18,-0.25,A90:D90,H17:J17,BM,both,Yes
85,S,Spitzer,2017-08-19,-2.00,A91:D91,H18:J18,BM,both,Yes
86,L,Netto,2017-08-19,-2.31,A92:D92,N58:P58,KG,both,Yes
87,L,Netto,2017-08-19,-32.39,A93:D93,N59:P59,KG,both,Yes
88,L,Asia Markt,2017-08-19,-7.12,A94:D94,N60:P60,KG,both,Yes
89,D,DM,2017-08-19,-16.70,A95:D95,N61:P61,KG,both,Yes
90,D,Apotheke,2017-08-19,-27.42,A96:D96,N62:P62,KG,both,Yes
91,M,Tree-App,2017-08-20,-2.29,A97:D97,N63:P63,KG,both,Yes
92,AM,Mr Tom,2017-08-21,-0.40,A98:D98,NaN,NaN,left_only,No
93,AM,Salatzutaten,2017-08-21,-1.34,A99:D99,NaN,NaN,left_only,No
94,A,McDonalds Frühstück Köln,2017-08-22,-2.99,A100:D100,N66:P66,KG,both,Yes
95,L,Penny,2017-08-22,-2.57,A101:D101,N67:P67,KG,both,Yes
96,T,Einzelticket Köln,2017-08-22,-2.80,A102:D102,N69:P69,KG,both,Yes
97,T,Einzelticket Köln,2017-08-22,-2.80,A102:D102,N70:P70,KG,both,Yes
98,A,Wein,2017-08-22,-10.00,A103:D103,H23:J23,BM,both,Yes
99,L,Penny Brötchen,2017-08-23,-0.29,A104:D104,N71:P71,KG,both,Yes
100,A,Rewe,2017-08-23,-2.18,A105:D105,N72:P72,KG,both,Yes
101,A,Tapas,2017-08-23,-14.00,A106:D106,H24:J24,BM,both,Yes
102,L,Rewe,2017-08-24,-3.91,A107:D107,N75:P75,KG,both,Yes
103,L,Lidl,2017-08-25,-1.13,A108:D108,N77:P77,KG,both,Yes
104,AM,Jogurtkaltschale Mittag,2017-08-25,-0.60,A109:D109,NaN,NaN,left_only,No
105,A,Eis essen,2017-08-25,-1.20,A110:D110,H26:J26,BM,both,Yes
106,L,Lidl,2017-08-27,-1.59,A111:D111,N79:P79,KG,both,Yes
107,L,Rewe,2017-08-27,-2.74,A112:D112,N80:P80,KG,both,Yes
108,L,Rewe,2017-08-28,-15.00,A113:D113,N84:P84,KG,both,Yes
109,L,Rewe,2017-08-28,-7.96,A114:D114,N85:P85,KG,both,Yes
110,AM,Mittag,2017-08-28,-4.15,A115:D115,NaN,NaN,left_only,No
111,A,Eis essen,2017-08-28,-1.20,A116:D116,H27:J27,BM,both,Yes
112,L,Aldi,2017-08-29,-7.90,A117:D117,N87:P87,KG,both,Yes
113,D,DM,2017-08-29,-10.60,A118:D118,N88:P88,KG,both,Yes
114,L,Real,2017-08-21,-5.17,A119:D119,N64:P64,KG,both,Yes
115,T,Fahrt BLN -> KM,2017-08-25,-24.00,A120:D120,NaN,NaN,left_only,No
116,T,Fahrt KM -> BLN,2017-08-27,-24.00,A121:D121,NaN,NaN,left_only,No
117,L,Netto,2017-08-28,-5.96,A122:D122,N86:P86,KG,both,Yes
118,AM,PUCK aufladen,2017-08-21,-20.00,A123:D123,K11:M11,BP,both,Yes
119,NaN,Geld aufladen Mitarbeiter ausweis,2017-08-01,-20.00,NaN,H7:J7,BM,right_only,No
120,NaN,Geld abheben,2017-08-03,30.00,NaN,H8:J8,BM,right_only,No
121,NaN,Geld aufladen Trianon,2017-08-02,-20.00,NaN,H9:J9,BM,right_only,Yes
122,NaN,Geld aus Schatulle,2017-08-05,1.30,NaN,H10:J10,BM,right_only,Yes
123,NaN,Betriebsausflug,2017-08-07,-18.50,NaN,H11:J11,BM,right_only,No
124,NaN,Geldfund,2017-08-12,0.05,NaN,H12:J12,BM,right_only,No
125,NaN,BBk Karte Aufladen,2017-08-14,-10.00,NaN,H15:J15,BM,right_only,No
126,NaN,Geld aus Schatulle,2017-08-20,0.50,NaN,H19:J19,BM,right_only,Yes
127,NaN,Schatullenkorrektur,2017-08-20,1.05,NaN,H20:J20,BM,right_only,No
128,NaN,Schatullenkorrektur,2017-08-20,-1.05,NaN,H21:J21,BM,right_only,No
129,NaN,Geld abheben,2017-08-22,40.00,NaN,H22:J22,BM,right_only,No
130,NaN,Karte aufladen,2017-08-28,-10.00,NaN,H25:J25,BM,right_only,No
131,NaN,Geld aus Schatulle,NaN,1.00,NaN,K7:M7,BP,right_only,Yes
132,NaN,Geld aus Schatulle,2017-08-08,1.35,NaN,K10:M10,BP,right_only,Yes
133,NaN,Geld abheben,2017-08-21,20.00,NaN,K12:M12,BP,right_only,No
134,NaN,Budgetbeitrag von BMS,2017-07-28,1468.00,NaN,N7:P7,KG,right_only,No
135,NaN,Miete FFM auf Max Konto,2017-08-02,450.00,NaN,N19:P19,KG,right_only,No
136,NaN,Ausgehen mit Kollegen,2017-08-02,-20.60,NaN,N21:P21,KG,right_only,No
137,NaN,Abheben,2017-08-03,-30.00,NaN,N24:P24,KG,right_only,No
138,NaN,Sommerticket DB,2017-08-05,-96.00,NaN,N29:P29,KG,right_only,No
139,NaN,Sommerticket DB,2017-08-05,-96.00,NaN,N30:P30,KG,right_only,No
140,NaN,Amazon Fail Topf,2017-08-06,-4.61,NaN,N35:P35,KG,right_only,No
141,NaN,Handy Paul,2017-08-10,-13.99,NaN,N42:P42,KG,right_only,No
142,NaN,Rossmann,2017-08-10,-20.53,NaN,N43:P43,KG,right_only,No
143,NaN,Sommerticket DB,2017-08-14,-192.00,NaN,N48:P48,KG,right_only,No
144,NaN,Vorschuss für Sparticket,2017-08-14,192.00,NaN,N49:P49,KG,right_only,No
145,NaN,Geld abheben,2017-08-21,-20.00,NaN,N65:P65,KG,right_only,No
146,NaN,Geld abheben,2017-08-22,-40.00,NaN,N68:P68,KG,right_only,No
147,NaN,Umbuchung,2017-08-23,302.79,NaN,N73:P73,KG,right_only,No
148,NaN,Hotelkosten,2017-08-24,-188.00,NaN,N74:P74,KG,right_only,No
149,NaN,Vorschuss Reisekosten Köln,2017-08-26,193.60,NaN,N78:P78,KG,right_only,No
150,NaN,Prüfungsgebühr auf Max' Konto,2017-08-28,15.00,NaN,N81:P81,KG,right_only,No
151,NaN,Prüfungsgebühr Dr. Hochs Konservatorium,2017-08-28,-15.00,NaN,N82:P82,KG,right_only,No
152,NaN,Vodafone,2017-08-28,-20.19,NaN,N83:P83,KG,right_only,No

In [11]:
miete_rules              = {'description' : 'Miete', 'amount' : -568,  'treated' : 'No'} 
haftpflicht_rules        = {'description' : 'Haftpflichtversicherung', 'amount' : -7.5,  'treated' : 'No'} 
berufsunfaehigkeit_rules = {'description' : 'Berufsunfähigkeitsversicherung', 'amount' : -49.05,  'treated' : 'No'} 
strom_rules_rules        = {'description' : 'Strom EnviaM', 'amount' : -51,  'treated' : 'No'} 
vodafone_rules           = {'description' : 'Vodafone', 'amount' : -19.99,  'treated' : 'No'} 
handy_paul_rules         = {'description' : 'Handy Paul', 'amount' : -7.99,  'treated' : 'No'} 
handy_max_rules          = {'description' : 'Handy Max', 'amount' : -7.99,  'treated' : 'No'} 
music_paul_rules         = {'description' : 'Apple Music Paul', 'amount' : -4.99,  'treated' : 'No'} 
music_max_rules          = {'description' : 'Spotify Max', 'amount' : -4.99,  'treated' : 'No'} 
backblaze_paul_rules     = {'description' : 'Backblaze Paul', 'amount' : -3.77,  'treated' : 'No'} 
backblaze_max_rules      = {'description' : 'Backblaze Max', 'amount' : -3.77,  'treated' : 'No'} 
semester_paul_rules      = {'description' : 'Semestergebühr Paul', 'amount' : -46.15,  'treated' : 'No'} 
semester_max_rules       = {'description' : 'Semestergebühr Max', 'amount' : -50.57,  'treated' : 'No'} 
sport_jahre_rules        = {'description' : '', 'amount' : -8,  'treated' : 'No'} 
sport_rules              = {'description' : 'Fitnessstudio', 'amount' : -39.8,  'treated' : 'No'} 
gew_rules                = {'description' : 'GEW', 'amount' : -2.5,  'treated' : 'No'} 
gez_rules                = {'description' : 'GEZ', 'amount' : -17.5,  'treated' : 'No'} 

all_rules = { 1 : [miete_rules                              ],
              2 : [haftpflicht_rules                        ],
              3 : [berufsunfaehigkeit_rules                 ],
              4 : [strom_rules_rules                        ],
              5 : [vodafone_rules                           ],
              6 : [handy_paul_rules                         ],
              7 : [handy_max_rules                          ],
              8 : [music_paul_rules                         ],
              9 : [music_max_rules                          ],
             10 : [backblaze_paul_rules, backblaze_max_rules],
             11 : [semester_paul_rules                      ],
             12 : [semester_max_rules                       ],
             13 : [sport_jahre_rules                        ],
             14 : [sport_rules                              ],
             15 : [gew_rules                                ],
             16 : [gez_rules                                ]}

monthly = [1, 2, 3, 4, 8, 9, 14]
bigger_intervalls = [10, 11, 12, 13, 15, 16]
variable_prices = [5, 6, 7]
## ToDo : 2 + 3 sonderfall beachten; insbesondere wird das gemeinsam vom konto abgebucht
## ToDo : 4 is only 51 € since mid 2017

for rule_number in monthly :
    rule = all_rules[rule_number][0]
    
    the_info = subset_data_frame(all_info, rule)

    for index, row in the_info.iterrows() :
        the_id = automatically_enter_payment_row(row['date'], 'Dauerauftrag', 
            row['description'], row['amount'], row['money_pot'], 
            row['budget_type'], [row['excel_range_x'], row['excel_range_y']],
            excel_filename, august, august_, db_filename)

        crsr = db.cursor()
        crsr.execute('''INSERT INTO event_in_group VALUES (1, {});'''.format(the_id))
        db.commit()

        all_info.loc[index, 'treated'] = 'Yes'
        
## ToDo : do the bigger intervalls

In [12]:
## Putting all the Info which had matching info on the left and the right hand of the budget sheet into
## the database.

## Only doing the "Barzahlung" payments right now

for BB in ['BM', 'BP'] :
    subsetting_rules = {'_merge' : 'both', 'money_pot' : BB,  'treated' : 'No'}

    full_match_bargeld = subset_data_frame(all_info, subsetting_rules)

    for index, row in full_match_bargeld.iterrows() :
        the_id = automatically_enter_payment_row(row['date'], 'Barzahlung', 
            row['description'], row['amount'], row['money_pot'], 
            row['budget_type'], [row['excel_range_x'], row['excel_range_y']],
            excel_filename, august, august_, db_filename)

        
        all_info.loc[index, 'treated'] = 'Yes'

In [13]:
## For the "GK" (Gemeinsames Konto) Payments we create an excel sheet, where we can change the payment type
subsetting_rules = {'_merge' : 'both', 'money_pot' : 'KG',  'treated' : 'No'}
full_match_konto = subset_data_frame(all_info, subsetting_rules)
full_match_konto['payment_type'] = 'Kartenzahlung'
full_match_konto['use_data'] = 'X'

In [14]:
gk_wb_filename = 'testtest.xlsx'

In [15]:
#full_match_konto.to_excel(gk_wb_filename)
#gk_wb = pyxl.load_workbook(gk_wb_filename, data_only=True)
#
#gk_sheet = gk_wb.active
#
#the_fill = pyxl.styles.PatternFill(fill_type='solid', start_color='FFFF02')
#        
#the_list_a = ['Barzahlung', 'Kartenzahlung', 'Überweisung', 'Dauerauftrag',
#            'SEPA-Mandat', 'Bankeinzug', 'Abheben', 'Kontotransfer', 
#            'Bargeldtransfer', 'Einnahme', 'Geldfund']
#the_list_b = ['B', 'K', 'U', 'D', 'S', 'BE', 'A', 'KT', 'BT', 'E', 'GF']
#
#the_list_str = '"' + ','.join(the_list_a + the_list_b) + '"'
#
#dv1 = pyxl.worksheet.datavalidation.DataValidation(type="list", formula1=the_list_str, allow_blank=False)
#dv1.error ='Your entry is not in the list'
#dv1.errorTitle = 'Invalid Entry'
#dv1.prompt = 'Please select from the list'
#dv1.promptTitle = 'List Selection'
#
#dv2 = pyxl.worksheet.datavalidation.DataValidation(type="list", formula1='"X,x"', allow_blank=True)
#dv2.error ='Your entry is not in the list'
#dv2.errorTitle = 'Invalid Entry'
#dv2.prompt = 'Please check with an X or leave blank'
#dv2.promptTitle = 'Checkmark'
#
#dv1.ranges.append('K2:K' + str(gk_sheet.max_row))
#dv2.ranges.append('L2:L' + str(gk_sheet.max_row))
#
#gk_sheet.add_data_validation(dv1)
#gk_sheet.add_data_validation(dv2)
#
#for i in range(2, gk_sheet.max_row + 1) :
#    gk_sheet['D' + str(i)].number_format = 'DD/MM/YY'
#    gk_sheet['K' + str(i)].fill = the_fill
#    gk_sheet['L' + str(i)].fill = the_fill
#    
#for column_cells in gk_sheet.columns:
#    length = max(len(str(cell.value)) for cell in column_cells)
#    gk_sheet.column_dimensions[column_cells[0].column].width = length
#    
#for row in ['F', 'G', 'H', 'I', 'J'] :
#    gk_sheet.column_dimensions[row].hidden = True    
#    
#gk_wb.save(gk_wb_filename)

In [16]:
checked_full_match_konto = use_excel_for_data_entry(gk_wb_filename, copy_mode=False)

The file testtest.xlsx will be opened in Excel for data entry. Enter Q to abort, enter anything else to continue.
Make any input to continue.
The read data is:

,budget_type,description,date,amount,excel_range_x,excel_range_y,money_pot,_merge,treated,payment_type,use_data
1,R,Miete FFM,2017-08-02,-450.00,A7:D7,N20:P20,KG,both,No,Überweisung,X
12,R,Handy Max,2017-08-10,-7.99,A18:D18,N41:P41,KG,both,No,Kartenzahlung,NaN
19,R,Monatskarte FFM,2017-07-31,-87.40,A25:D25,N9:P9,KG,both,No,Kartenzahlung,X
22,L,Aldi,2017-07-31,-23.97,A28:D28,N8:P8,KG,both,No,Kartenzahlung,X
23,L,Netto,2017-07-31,-9.44,A29:D29,N10:P10,KG,both,No,Kartenzahlung,X
24,L,Rewe,2017-08-01,-8.71,A30:D30,N14:P14,KG,both,No,Kartenzahlung,X
25,D,Rossmann,2017-08-01,-9.17,A31:D31,N15:P15,KG,both,No,Kartenzahlung,X
26,D,DM,2017-08-01,-9.45,A32:D32,N16:P16,KG,both,No,Kartenzahlung,X
27,D,DM,2017-08-01,-12.25,A33:D33,N17:P17,KG,both,No,Kartenzahlung,X
29,L,Türkischer Supermarkt,2017-08-01,-10.37,A35:D35,N18:P18,KG,both,No,Kartenzahlung,X
35,L,Real,2017-08-02,-6.86,A41:D41,N22:P22,KG,both,No,Kartenzahlung,X
42,L,Kaufland,2017-08-04,-13.95,A48:D48,N25:P25,KG,both,No,Kartenzahlung,X
43,A,McDonalds,2017-08-05,-2.59,A49:D49,N26:P26,KG,both,No,Kartenzahlung,X
44,S,H&M,2017-08-05,-55.08,A50:D50,N27:P27,KG,both,No,Kartenzahlung,X
45,L,Rewe Wasser,2017-08-05,-1.17,A51:D51,N28:P28,KG,both,No,Kartenzahlung,X
46,L,Edeka,2017-08-05,-5.43,A52:D52,N31:P31,KG,both,No,Kartenzahlung,X
47,T,Sitzplatz reservierung,2017-08-06,-4.50,A53:D53,N33:P33,KG,both,No,Kartenzahlung,X
48,S,Amazon Bestellung,2017-08-06,-39.24,A54:D54,N32:P32,KG,both,No,Kartenzahlung,X
49,S,Amazon Festplatte Paul,2017-08-06,-52.94,A55:D55,N34:P34,KG,both,No,Kartenzahlung,X
50,L,Rewe,2017-08-07,-21.00,A56:D56,N36:P36,KG,both,No,Kartenzahlung,X
51,S,H&M Hose,2017-08-07,-30.14,A57:D57,N37:P37,KG,both,No,Kartenzahlung,X
52,M,Briefmarken,2017-08-07,-21.50,A58:D58,N38:P38,KG,both,No,Kartenzahlung,X
53,L,Netto,2017-08-07,-16.60,A59:D59,N39:P39,KG,both,No,Kartenzahlung,X
54,L,Real,2017-08-07,-3.99,A60:D60,N40:P40,KG,both,No,Kartenzahlung,X
62,L,Edeka,2017-08-10,-3.17,A68:D68,N44:P44,KG,both,No,Kartenzahlung,X
66,L,Aldi,2017-08-11,-19.31,A72:D72,N45:P45,KG,both,No,Kartenzahlung,X
67,D,Schirm Rossmann,2017-08-11,-2.95,A73:D73,N46:P46,KG,both,No,Kartenzahlung,X
70,L,Rewe,2017-08-13,-34.42,A76:D76,N47:P47,KG,both,No,Kartenzahlung,X
72,L,Netto,2017-08-14,-13.42,A78:D78,N50:P50,KG,both,No,Kartenzahlung,X
73,T,Fahrkarte Frankfurt,2017-08-14,-2.90,A79:D79,N51:P51,KG,both,No,Kartenzahlung,X
76,L,Rewe,2017-08-16,-17.57,A82:D82,N53:P53,KG,both,No,Kartenzahlung,X
78,L,Rewe,2017-08-16,-3.42,A84:D84,N54:P54,KG,both,No,Kartenzahlung,X
80,L,Real,2017-08-18,-10.19,A86:D86,N55:P55,KG,both,No,Kartenzahlung,X
81,L,Rewe,2017-08-18,-2.69,A87:D87,N56:P56,KG,both,No,Kartenzahlung,X
83,T,Sitzplatz reservierung,2017-08-18,-4.50,A89:D89,N57:P57,KG,both,No,Kartenzahlung,X
86,L,Netto,2017-08-19,-2.31,A92:D92,N58:P58,KG,both,No,Kartenzahlung,X
87,L,Netto,2017-08-19,-32.39,A93:D93,N59:P59,KG,both,No,Kartenzahlung,X
88,L,Asia Markt,2017-08-19,-7.12,A94:D94,N60:P60,KG,both,No,Kartenzahlung,X
89,D,DM,2017-08-19,-16.70,A95:D95,N61:P61,KG,both,No,Kartenzahlung,X
90,D,Apotheke,2017-08-19,-27.42,A96:D96,N62:P62,KG,both,No,Kartenzahlung,X
91,M,Tree-App,2017-08-20,-2.29,A97:D97,N63:P63,KG,both,No,Kartenzahlung,X
94,A,McDonalds Frühstück Köln,2017-08-22,-2.99,A100:D100,N66:P66,KG,both,No,Kartenzahlung,X
95,L,Penny,2017-08-22,-2.57,A101:D101,N67:P67,KG,both,No,Kartenzahlung,X
96,T,Einzelticket Köln,2017-08-22,-2.80,A102:D102,N69:P69,KG,both,No,Kartenzahlung,X
97,T,Einzelticket Köln,2017-08-22,-2.80,A102:D102,N70:P70,KG,both,No,Kartenzahlung,X
99,L,Penny Brötchen,2017-08-23,-0.29,A104:D104,N71:P71,KG,both,No,Kartenzahlung,X
100,A,Rewe,2017-08-23,-2.18,A105:D105,N72:P72,KG,both,No,Kartenzahlung,X
102,L,Rewe,2017-08-24,-3.91,A107:D107,N75:P75,KG,both,No,Kartenzahlung,X
103,L,Lidl,2017-08-25,-1.13,A108:D108,N77:P77,KG,both,No,Kartenzahlung,X
106,L,Lidl,2017-08-27,-1.59,A111:D111,N79:P79,KG,both,No,Kartenzahlung,X
107,L,Rewe,2017-08-27,-2.74,A112:D112,N80:P80,KG,both,No,Kartenzahlung,X
108,L,Rewe,2017-08-28,-15.00,A113:D113,N84:P84,KG,both,No,Kartenzahlung,X
109,L,Rewe,2017-08-28,-7.96,A114:D114,N85:P85,KG,both,No,Kartenzahlung,X
112,L,Aldi,2017-08-29,-7.90,A117:D117,N87:P87,KG,both,No,Kartenzahlung,X
113,D,DM,2017-08-29,-10.60,A118:D118,N88:P88,KG,both,No,Kartenzahlung,X
114,L,Real,2017-08-21,-5.17,A119:D119,N64:P64,KG,both,No,Kartenzahlung,X
117,L,Netto,2017-08-28,-5.96,A122:D122,N86:P86,KG,both,No,Kartenzahlung,X

If you are not satisfied with the read data, enter any number. If you do this, the workbook will be opened again. Continue with any other input; abort with Q.
OK.

In [17]:
for index, row in checked_full_match_konto.iterrows() :
    if checked_full_match_konto.loc[index, 'use_data'] is np.nan :
        continue
        
    the_id = automatically_enter_payment_row(row['date'], row['payment_type'], 
            row['description'], row['amount'], row['money_pot'], 
            row['budget_type'], [row['excel_range_x'], row['excel_range_y']],
            excel_filename, august, august_, db_filename)
    
    all_info.loc[index, 'treated'] = 'Yes'

In [18]:
## List of all fully matched things we didnt treat yet
subsetting_rules = {'_merge' : 'both', 'treated' : 'No'}
remaining_matched = subset_data_frame(all_info, subsetting_rules)

display(remaining_matched)

,budget_type,description,date,amount,excel_range_x,excel_range_y,money_pot,_merge,treated
12,R,Handy Max,2017-08-10,-7.99,A18:D18,N41:P41,KG,both,No

In [19]:
display(all_info[all_info['description'].str.contains('Schatulle')])

subsetting_rules = {'treated' : 'xxx'}
schatulle_info = subset_data_frame(all_info, subsetting_rules)

for direction in ['an', 'aus'] :
    descriptor = 'Geld ' + direction + ' Schatulle'
    subsetting_rules = {'description' : descriptor, 'treated' : 'No'}
    schatulle_info = schatulle_info.append(subset_data_frame(all_info, subsetting_rules))
    
display(schatulle_info)

,budget_type,description,date,amount,excel_range_x,excel_range_y,money_pot,_merge,treated
122,NaN,Geld aus Schatulle,2017-08-05,1.30,NaN,H10:J10,BM,right_only,No
126,NaN,Geld aus Schatulle,2017-08-20,0.50,NaN,H19:J19,BM,right_only,No
127,NaN,Schatullenkorrektur,2017-08-20,1.05,NaN,H20:J20,BM,right_only,No
128,NaN,Schatullenkorrektur,2017-08-20,-1.05,NaN,H21:J21,BM,right_only,No
131,NaN,Geld aus Schatulle,NaN,1.00,NaN,K7:M7,BP,right_only,No
132,NaN,Geld aus Schatulle,2017-08-08,1.35,NaN,K10:M10,BP,right_only,No

,budget_type,description,date,amount,excel_range_x,excel_range_y,money_pot,_merge,treated
122,NaN,Geld aus Schatulle,2017-08-05,1.30,NaN,H10:J10,BM,right_only,No
126,NaN,Geld aus Schatulle,2017-08-20,0.50,NaN,H19:J19,BM,right_only,No
131,NaN,Geld aus Schatulle,NaN,1.00,NaN,K7:M7,BP,right_only,No
132,NaN,Geld aus Schatulle,2017-08-08,1.35,NaN,K10:M10,BP,right_only,No

In [20]:
display(schatulle_info)
for index, row in schatulle_info.iterrows() :
    i = 0
    while True :
        the_date = all_info.loc[index+i, 'date']
        if str(the_date) == 'NaT' or the_date is np.nan :
            the_date = all_info.loc[index-i, 'date']
            if str(the_date) == 'NaT' or the_date is np.nan :
                i = i + 1
                continue
        
        break
        
    automatically_enter_transfer_row(
        the_date, 'Bargeldtransfer', row['description'], row['amount'], row['money_pot'], 'SB',
        [row['excel_range_y']], excel_filename, august, august_, db_filename)
    
    all_info.loc[index, 'treated'] = 'Yes'

,budget_type,description,date,amount,excel_range_x,excel_range_y,money_pot,_merge,treated
122,NaN,Geld aus Schatulle,2017-08-05,1.30,NaN,H10:J10,BM,right_only,No
126,NaN,Geld aus Schatulle,2017-08-20,0.50,NaN,H19:J19,BM,right_only,No
131,NaN,Geld aus Schatulle,NaN,1.00,NaN,K7:M7,BP,right_only,No
132,NaN,Geld aus Schatulle,2017-08-08,1.35,NaN,K10:M10,BP,right_only,No

In [21]:
## The Three individual usages of the White Trianon Card : Charging
subsetting_rules = {'description' : 'Geld aufladen Trianon', 'amount' : -20, 'treated' : 'No'}
trianon_aufladen = subset_data_frame(all_info, subsetting_rules)

for index, row in trianon_aufladen.iterrows() :
    automatically_enter_transfer_row(
        row['date'], 'Aufladen', row['description'], row['amount'], row['money_pot'], 'CT',
        [row['excel_range_y']], excel_filename, august, august_, db_filename)
    
    all_info.loc[index, 'treated'] = 'Yes'

In [26]:
## The Three individual usages of the White Trianon Card : Payments
#logger.setLevel(logging.INFO)

subsetting_rules_doppelter_kaffee = {'budget_type' : 'AM', 'description' : 'Doppelter Kaffee Trianon', 
                                     'amount' : -1.5, 'treated' : 'No'}
trianon_doppelter_kaffee = subset_data_frame(all_info, subsetting_rules)

subsetting_rules_einfacher_kaffee = {'budget_type' : 'AM', 'description' : 'Kaffee', 
                                     'amount' : -0.75, 'treated' : 'No'}
trianon_einfacher_kaffee = subset_data_frame(all_info, subsetting_rules)

## Testing multirule select
rules = [subsetting_rules_doppelter_kaffee, subsetting_rules_einfacher_kaffee]
trianon_payments = multirule_subset(all_info, rules)

display(trianon_doppelter_kaffee)
display(trianon_einfacher_kaffee)
display(trianon_payments)

After the rule ('treated', 'No') no item was left
After the rule ('treated', 'No') no item was left
1 items were selected.
1 items were selected.

Empty DataFrame
Columns: [budget_type, description, date, amount, excel_range_x, excel_range_y, money_pot, _merge, treated]
Index: []

Empty DataFrame
Columns: [budget_type, description, date, amount, excel_range_x, excel_range_y, money_pot, _merge, treated]
Index: []

,budget_type,description,date,amount,excel_range_x,excel_range_y,money_pot,_merge,treated
32,AM,Doppelter Kaffee Trianon,2017-08-02,-1.50,A38:D38,NaN,NaN,left_only,No
41,AM,Kaffee,2017-08-04,-0.75,A47:D47,NaN,NaN,left_only,No

In [ ]:
for index, row in trianon_doppelter_kaffee.iterrows() :
    automatically_enter_payment_row(
        row['date'], 'Kartenzahlung', row['description'], row['amount'], 'CT', 
        row['budget_type'], [row['excel_range_x']], excel_filename, august, august_, db_filename)
    
    all_info.loc[index, 'treated'] = 'Yes'

for index, row in trianon_einfacher_kaffee.iterrows() :
    automatically_enter_payment_row(
        row['date'], 'Kartenzahlung', row['description'], row['amount'], 'CT', 
        row['budget_type'], [row['excel_range_x']], excel_filename, august, august_, db_filename)
    
    all_info.loc[index, 'treated'] = 'Yes'

In [ ]:
subsetting_rules = {'budget_type' : 'AM', 'treated' : 'No'}
bundesbank_karte = subset_data_frame(all_info, subsetting_rules)

for index, row in bundesbank_karte.iterrows() :
    automatically_enter_payment_row(
        row['date'], 'Kartenzahlung', row['description'], row['amount'], 'CB', 
        row['budget_type'], [row['excel_range_x']], excel_filename, august, august_, db_filename)
    
    all_info.loc[index, 'treated'] = 'Yes'

In [ ]:
subsetting_rules = {'description' : 'Geld abheben', '_merge' : 'right_only', 'treated' : 'No'}
geld_abheben = subset_data_frame(all_info, subsetting_rules)

subsetting_rules = {'description' : 'Geld abheben', 'amount' : '>0', '_merge' : 'right_only', 'treated' : 'No'}
geld_abheben_gotten = subset_data_frame(all_info, subsetting_rules)

subsetting_rules = {'description' : 'Geld abheben', 'amount' : '<0', '_merge' : 'right_only', 'treated' : 'No'}
geld_abheben_drawn = subset_data_frame(all_info, subsetting_rules)
geld_abheben_drawn['amount_abs'] = - geld_abheben_drawn['amount']

## Subselect relevant columns
abheben_gotten = geld_abheben_gotten[['date', 'amount', 'money_pot', 'description', 
                                      'excel_range_y']].reset_index(level=0)
abheben_drawn = geld_abheben_drawn[['date', 'amount_abs', 'money_pot', 
                                    'excel_range_y']].reset_index(level=0)


abheben_data = pd.merge(abheben_gotten, abheben_drawn, how='outer', left_on = ['date', 'amount'], 
                        right_on=['date', 'amount_abs'], left_index=True, indicator=True)

display(abheben_data)


for index, row in abheben_data[abheben_data['_merge'] == 'both'].iterrows() :
    automatically_enter_transfer_row(
        row['date'], 'Abheben', row['description'], row['amount'], row['money_pot_y'], row['money_pot_x'],
        [row['excel_range_y_x'], row['excel_range_y_y']], excel_filename, august, august_, db_filename)
    
    all_info.loc[row['index_x'], 'treated'] = 'Yes'
    all_info.loc[row['index_y'], 'treated'] = 'Yes'

In [ ]:
## For the "GK" (Gemeinsames Konto) Payments we create an excel sheet, where we can change the payment type
subsetting_rules = {'_merge' : 'right_only', 'treated' : 'No'}
remaining = subset_data_frame(all_info, subsetting_rules)
remaining['is_transfer'] = ''
remaining['money_pot_source'] = remaining['amount'].apply(lambda x : 1 if x < 0 else 0) * \
                                remaining['money_pot'] 
remaining['money_pot_sink'] = remaining['amount'].apply(lambda x : 1 if x > 0 else 0) * \
                              remaining['money_pot']
display(remaining)

In [ ]:
#mark_transfers_filename = 'testtest2.xlsx'
#remaining.to_excel(mark_transfers_filename)
#mark_transfers = pyxl.load_workbook(mark_transfers_filename, data_only=True)
#
#remaining_sheet = mark_transfers.active
#
#the_fill = pyxl.styles.PatternFill(fill_type='solid', start_color='FFFF02')
#
#dv1 = pyxl.worksheet.datavalidation.DataValidation(type="list", formula1='"X,x"', allow_blank=True)
#dv1.error ='Your entry is not in the list'
#dv1.errorTitle = 'Invalid Entry'
#dv1.prompt = 'Please check with an X or leave blank'
#dv1.promptTitle = 'Checkmark'
#
#list_of_accounts = ['KG', 'KE', 'KM', 'KP', 'KB', 'KC', 'BM', 'BP', 'CB', 'CT', 'CM', 'GM', 'SB', 'SF']
#rule = '"' + ','.join(list_of_accounts) + '"'
#dv2 = pyxl.worksheet.datavalidation.DataValidation(type="list", formula1=rule, allow_blank=True)
#dv2.error ='Your entry is not in the list'
#dv2.errorTitle = 'Invalid Entry'
#dv2.prompt = 'Please select from the list'
#dv2.promptTitle = 'List Selection'
#
#dv1.ranges.append('K2:K' + str(remaining_sheet.max_row))
#dv2.ranges.append('L2:M' + str(remaining_sheet.max_row))
#
#remaining_sheet.add_data_validation(dv1)
#remaining_sheet.add_data_validation(dv2)
#
#for i in range(2, remaining_sheet.max_row + 1) :
#    remaining_sheet['D' + str(i)].number_format = 'DD/MM/YY'
#    remaining_sheet['K' + str(i)].fill = the_fill
#    remaining_sheet['L' + str(i)].fill = the_fill
#    remaining_sheet['M' + str(i)].fill = the_fill
#    
#for column_cells in remaining_sheet.columns:
#    length = max(len(str(cell.value)) for cell in column_cells)
#    remaining_sheet.column_dimensions[column_cells[0].column].width = length
#    
#for row in ['F', 'G', 'H', 'I', 'J'] :
#    remaining_sheet.column_dimensions[row].hidden = True    
#    
#mark_transfers.save(mark_transfers_filename)

In [ ]:
checked_full_match_konto = use_excel_for_data_entry(mark_transfers_filename, copy_mode=False)

In [ ]:
remaining = all_info[all_info['treated'] == 'No']

display(remaining)

print("number remaining: " + str(len(remaining)))

In [ ]:
#for table in ["money_events", "payments", "budget_events"] :
#    print('The table {}: '.format(table))
#    display(pd.read_sql_query('SELECT * FROM {};'.format(table), db))
with pd.option_context('display.max_rows', None):
    display(pd.read_sql_query(
        'SELECT * FROM payments LEFT JOIN money_events where money_events.id = payments.id', db))
    display(pd.read_sql_query(
        'SELECT * FROM transfers LEFT JOIN money_events where money_events.id = transfers.id', db))

In [ ]:
wb.save('GemBil.xlsx')

In [ ]:
db.close()